__pycache__
cache
.DS_Store
.npm
node_modules
data/characters/*
!data/characters/SAMPLE EXAMPLEFACE.json
virtualenv
upload.sh
upload_start.sh
upload_data.sh
readme_private.md
package.json
package-lock.json