{% extends "base.jinja" %}
{% block body %}
<body class="p-0 m-0 h-full">
	<nav class="p-2 bg-gray-800 text-white print:hidden"><div class="container mx-auto"><a title="All characters" href="/">&larr; Home</a></div></nav>
	<main class="container mx-auto my-5 px-5">
		<h1 class="font-bold text-xl">Pregen character profiles</h1>
		{% for c in chars %}
		<p><a href="{{ c.selfLink }}">{{ c.name }} ({{c.characterClass}})</a></p>
		{% endfor %}
	</main>
</body>
{% endblock %}