{% extends "base.jinja" %}
{% block body %}
<body class="p-0 m-0 print:h-full">
	<nav class="p-2 bg-gray-800 text-white print:hidden"><div class="container mx-auto"><a title="All characters" href="/">&larr; Home</a></div></nav>
	<main class="container mx-auto my-5">
	<p class="text-4xl">This Character profile could not be found</p>
	<p><a href="/characters">&larr; All pregen characters</a></p>
	</main>
</body>
{% endblock %}